@import url("../fonts.css");

html,body,.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-bottom: 50px;
	background: none;
}

.panel {
	height: 100%;
	float: left;
	clear: none;
	margin: 0;
	border: none;
	border-radius: 0;
}

.panel iframe {
	width: 100%;
	height: 100%;
}

.panel .mask {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: none;
}

.player {
	width: 75%;
}

.chat {
	width: 25%;
}
