@import url("../fonts.css");

html,body,.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	padding-bottom: 50px;
	background: none;
}

.navbar-brand img {
	height: 90%;
	vertical-align: top;
	margin-right: 5px;
	display: inline;
}

.panel {
	height: 100%;
	float: left;
	clear: none;
	margin: 0;
	border: none;
	border-radius: 0;
}

.panel iframe {
	width: 100%;
	height: 100%;
}

.panel .mask {
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: none;
}

.player {
	width: 70%;
}

.chat {
	width: 30%;
}

#poll-modal .modal-body {
	height: 60vh;
	padding: 0;
}

iframe.poll {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
