@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneuebold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneuebook-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneuelight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neue';
    src: url('../fonts/bebasneuethin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'code';
    src: url('../fonts/code-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code';
    src: url('../fonts/code-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'franchise';
    src: url('../fonts/franchise-bold-hinted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}